* @gopichandkuru @yashvi-gangani @kunalkt5656 @malathi1945 @bhagyasree31

# Backend
/server/ @gopichandkuru

# Frontend
/client/ @gopichandkuru @yashvi-gangani @kunalkt5656 @malathi1945 @bhagyasree31
