# SyncSpace CODEOWNERS
# This file dictates who is requested for review on Pull Requests.

# Default owner for everything in the repo
*       @gopichandkuru

# Frontend Architecture and React Components
/client/ @yashvi-gangani @gopichandkuru

# Backend Architecture, Routes, Controllers
/server/ @kunalkt5656 @gopichandkuru

# Real-time Engine (Socket.io)
/server/src/socket/ @bhagyasree31 @kunalkt5656

# Database & Mongoose Models
/server/src/models/ @malathi1945 @gopichandkuru

# CI/CD and DevOps (Render configs)
/render.yaml @gopichandkuru

# Documentation
/README.md @gopichandkuru @yashvi-gangani
